/**** start Global styles*****/
:root {
  --title-color: #343434;
  --p-color: #748182;
}
.title-color {
  color: var(--title-color);
}
.p-color {
  color: var(--p-color);
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: transparent;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h6,
.navbar-brand {
  font-family: "Montserrat", sans-serif;
}

section .title-section h3 {
  color: var(--title-color);
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
  position: relative;
  display: inline-block;
  z-index: 1;
}
section .title-section {
  position: relative;
}

section .title-section h3::after {
  content: "";
  width: 100%;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  background-image: url(../Images/dots.png);
  background-repeat: repeat;
  z-index: -1;
}

/**** End Global styles*****/

/************ Start Nav Section ************/
body:has(.nav-link.active[href="#home"]) nav {
  box-shadow: none;
  background-color: transparent;
  color: #fff;
}
body:has(.nav-link:not([href="#home"])) nav {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  background-color: #fff;
  color: #111;
}
body:has(.nav-link.active:not([href="#home"])) nav.navbar .navbar-brand {
  color: #1c1c1c;
}
body:has(.nav-link.active[href="#home"]) nav.navbar .navbar-brand {
  color: #fff;
}

body:has(.nav-link.active:not([href="#home"]))
  nav.navbar
  .nav-item
  .nav-link::before {
  background-color: #111;
}
body:has(.nav-link.active[href="#home"])
  nav.navbar
  .nav-item
  .nav-link::before {
  background-color: #fff;
}
nav.navbar .navbar-brand {
  font-weight: 800;
  line-height: 25.7143px;
  letter-spacing: 1px;
  font-size: 18px;
}
nav .navbar-nav li.nav-item {
  margin-inline: 15px;
}

nav.navbar .nav-item .nav-link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: inherit;
  position: relative;
}
nav.navbar .nav-item .nav-link::before {
  content: "";
  height: 2px;
  position: absolute;
  width: 0%;
  left: 5%;
  bottom: 5px;
  /* background-color: #fff; */
  transition: width 0.5s;
}

nav.navbar .nav-item .nav-link.active::before {
  width: 90%;
}

/************ End Nav Section ************/

/************ Start Header Section ************/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../Images/bg.jpg);
  background-attachment: fixed;
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;

  color: #fff;
}
header .container .caption-head .icons span {
  font-size: 12px;
  line-height: 35px;
  font-weight: 400;
}
header .container .caption-head h5 {
  font-size: 50px;
  line-height: 55px;
  font-weight: 800;
}
header .container .caption-head h1 span {
  font-size: 60px;
  line-height: 72px;
  font-weight: 200;
}

header .container .caption-head h1 span.animation {
  font-weight: 400;
}
header .container .caption-head .icons span {
  font-size: 14px;
  line-height: 35px;
  font-weight: 400;
  color: #fff;
}
header .container .caption-head .icons a {
  color: inherit;
}

header .container .caption-head .animation::after {
  content: "";
  animation: header-animation 7s infinite;
}
@keyframes header-animation {
  0% {
    content: "|";
  }
  1% {
    content: "D|";
  }
  2% {
    content: "De|";
  }
  6% {
    content: "Des|";
  }
  8% {
    content: "Desi|";
  }
  10% {
    content: "Desig|";
  }
  12% {
    content: "Design|";
  }
  14% {
    content: "Designe|";
  }
  16% {
    content: "Designer|";
  }
  17% {
    content: "Designer|";
  }
  19% {
    content: "Designe|";
  }
  20% {
    content: "Design|";
  }
  22% {
    content: "Desig|";
  }
  24% {
    content: "Desi|";
  }
  26% {
    content: "Des|";
  }
  28% {
    content: "De|";
  }
  30% {
    content: "D|";
  }
  32% {
    content: " |";
  }
  33% {
    content: " |";
  }
  34% {
    content: "D|";
  }
  36% {
    content: "De|";
  }
  38% {
    content: "Dev|";
  }
  40% {
    content: "Deve|";
  }
  42% {
    content: "Devel|";
  }
  44% {
    content: "Develo|";
  }
  46% {
    content: "Develop|";
  }
  47% {
    content: "Develope|";
  }
  48% {
    content: "Developer|";
  }
  49% {
    content: "Developer|";
  }
  50% {
    content: "Develope|";
  }
  52% {
    content: "Develop|";
  }
  54% {
    content: "Develo|";
  }
  56% {
    content: "Devel|";
  }
  58% {
    content: "Deve|";
  }
  60% {
    content: "Dev|";
  }
  62% {
    content: "De|";
  }
  64% {
    content: "D|";
  }
  66% {
    content: " |";
  }
  67% {
    content: " |";
  }
  68% {
    content: "L|";
  }
  69% {
    content: "La|";
  }
  70% {
    content: "Lar|";
  }
  71% {
    content: "Larr|";
  }
  72% {
    content: "Larry|";
  }
  74% {
    content: "Larry |";
  }
  76% {
    content: "Larry D|";
  }
  77% {
    content: "Larry Da|";
  }
  79% {
    content: "Larry Dan|";
  }
  80% {
    content: "Larry Dani|";
  }
  81% {
    content: "Larry Danie|";
  }
  82% {
    content: "Larry Daniel|";
  }
  83% {
    content: "Larry Daniels|";
  }
  85% {
    content: "Larry Daniels|";
  }
  86% {
    content: "Larry Daniel|";
  }
  87% {
    content: "Larry Danie|";
  }
  88% {
    content: "Larry Dani|";
  }
  89% {
    content: "Larry Dan|";
  }
  90% {
    content: "Larry Da|";
  }
  91% {
    content: "Larry D|";
  }
  92% {
    content: "Larry |";
  }
  94% {
    content: "Larr|";
  }
  95% {
    content: "Lar|";
  }
  96% {
    content: "La|";
  }
  97% {
    content: "L|";
  }
  98% {
    content: " |";
  }
  100% {
    content: " |";
  }
}

/************ End Header Section ************/

/************ Start About Section ************/

.about-section .container .inner .img-about {
  position: relative;
}
.about-section .container .inner .img-about::after {
  content: "";
  width: 80%;
  height: 80%;
  position: absolute;
  left: 0;
  top: 27%;
  background-image: url(../Images/dots.png);
  background-repeat: repeat;
  z-index: -1;
}
.about-section .container .title-sec h3 {
  color: var(--title-color);
  font-size: 30px;
  line-height: 33px;
  font-weight: 800;
  margin-bottom: 5px;
}
.about-section .container .title-sec span {
  color: #999;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  font-weight: 400;
}
.about-section .container .description-about p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}
.about-section .container .description-about .progress-bars .progress {
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
}
.about-section
  .container
  .description-about
  .progress-bars
  .progress
  .progress-bar
  .inner {
  font-size: 13px;
  line-height: 14.3px;
  font-weight: 500;
}
.about-section .container .description-about .buttons-about button,
.my-btn {
  font-size: 13px;
  line-height: 18.5714px;
  font-weight: 400;
}
.my-btn:hover {
  background-color: transparent;
  color: #212529;
  border: 1px solid #212529;
}
/************ End About Section ************/

/************ Start Service Section ************/

.service-section,
.contact-section {
  background-color: #f7f7f7;
}
.service-section .container .inner {
  background-color: #fff;
}
.container-icon span {
  color: var(--title-color);
  background-color: #f1f1f1;
  transition: all 1s;
}
section .container .inner:hover .span-icons-hover {
  background-color: var(--title-color);
  color: #f4f4f4;
}
.service-section .container .inner .container-icon span {
  font-size: 30px;
  line-height: 70px;
  font-weight: 400;
}

.service-section .container .inner h6 {
  font-size: 18px;
  line-height: 19.8px;
  margin-block: 15px;
  font-weight: 800;
}
.service-section .container .inner p {
  font-size: 14px;
  line-height: 22.4px;
  word-spacing: 2px;
  font-weight: 400;
}

/************ End Service Section ************/

/***********************************Start Old Work section*******************************/
/* .work-section .details-work-sec .inner-details .img {
  overflow: hidden;
}
.work-section .details-work-sec .inner-details img {
  transition: transform 1s;
}
.work-section .details-work-sec .inner-details:hover img {
  transform: scale(1.3);
}

.work-section .details-work-sec .inner-details .card-body h4.card-title {
  font-size: 19.2px;
  line-height: 23.04px;
  font-weight: 500;
  color: #1e1e1e;
  margin-bottom: 8px;
}

.work-section .details-work-sec .inner-details .card-body .card-text span {
  font-size: 12.8px;
  line-height: 19.2px;
  font-weight: 400;
  color: #4e4e4e;
}
.modal.fade {
  z-index: 99999;
}
.modal.fade .carousel-item img {
  min-height: 90%;
  object-fit: contain;
} */

/**********************************  End Old Work section       *****************************************/

/***********************************Start New Work section*******************************/
.work-section ul.nav .nav-item .nav-link {
  color: #222;
  font-size: 16px;
  line-height: 22.8571px;
  margin: 0px 15px;
  font-weight: 700;
  position: relative;
}

.work-section ul.nav .nav-item .nav-link::before {
  content: "";
  height: 4px;
  position: absolute;
  width: 0%;
  left: 50%;
  bottom: 5px;
  transform: translate(-50%);
  background-color: #222;
  transition: width 0.5s;
}
.work-section ul.nav .nav-item .nav-link.active::before {
  width: 50%;
}
.work-section .row .inner .layer-product h6 {
  font-size: 12px;
  line-height: 13.2px;
  letter-spacing: 2px;
  margin-bottom: 15px;
  font-weight: 700;
  margin-bottom: 30px;
  transition: margin-bottom 700ms;
}
.work-section .content-layer .container-icon .icon-product {
  background-color: var(--title-color);
  color: #fff;
  transition: all 1s;
}

.work-section .content-layer .container-icon .icon-product:hover {
  border: 1px solid var(--title-color);
  background-color: transparent;
  color: var(--title-color);
}
.work-section .content-layer .container-icon .icon-product a {
  color: inherit;
}
.work-section .row .inner .layer-product {
  background-color: rgba(255, 255, 255, 0.912);
  width: 93%;
  height: 97%;
  opacity: 0;
  top: 5%;
  transition: all 700ms;
}
.work-section .row .inner:hover .layer-product {
  top: 0;
  opacity: 1;
}
.work-section .row .inner:hover h6 {
  margin-bottom: 20px;
}

/***********************************End New Work section*******************************/

/********************************** Start Clients Section **************************************/
.client-section {
  background-color: #f7f7f7;
  color: var(--p-color);
}
.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #869791;
}
.client-section .carousel-item .image-client img {
  width: 13%;
}
.client-section .carousel-item p {
  font-size: 15px;
  line-height: 24px;
  word-spacing: 2px;
  font-weight: 400;
}
.client-section .carousel-item h6 {
  font-size: 16px;
  line-height: 17.6px;
  margin: 30px 0px 5px;
  font-weight: 600;
  color: var(--title-color);
}
.client-section .carousel-item span {
  font-size: 12px;
  line-height: 17.1429px;
  margin-bottom: 30px;
  font-weight: 600;
  color: #888;
}

/********************************** End carousel Section **************************************/

/***********************************Start Counter section*******************************/
.counter-section {
  background-color: #fff;
}
.counter-section .inner div,
.counter-section .inner h3 {
  color: var(--title-color);
  font-size: 30px;
  line-height: 33px;
  margin-bottom: 15px;
  font-weight: 900;
}
.counter-section .inner p {
  color: var(--p-color);
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 30px;
  font-weight: 600;
}

/***********************************End Counter section*******************************/

/********************************** Start Team Section **************************************/

.team-section {
  background-color: #f7f7f7;
}
.team-section .inner .card {
  background-color: #5b5b5b;
}
.team-section .inner .card .card-body h4 {
  font-size: 25px;
  line-height: 27.5px;
  margin-bottom: 5px;
  font-weight: 500;
}
.team-section .inner .card .card-body h5 {
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
}
.team-section .inner .card .for-layer-image .layer {
  background-color: rgba(255, 255, 255, 0.915);
  width: 98%;
  height: 98%;
  opacity: 0;
  transition: all 700ms 80ms;
}
.team-section .inner .card:hover .layer {
  transform: rotatey(360deg);
  opacity: 1;
}

.team-section .inner .card .for-layer-image .image {
  overflow: hidden;
}
.team-section .inner .card .for-layer-image .image img {
  transition: all 400ms ease;
}
.team-section .inner .card .for-layer-image:hover img {
  transform: scale(1.15);
}
.team-section .inner .card .for-layer-image .icon-container-inner-team span {
  background-color: #222;
  color: #fff;
}
.team-section
  .inner
  .card
  .for-layer-image
  .icon-container-inner-team
  span:hover {
  background-color: transparent;
  border: 1px solid #222;
  color: #222;
}
.team-section .inner .card .for-layer-image .icon-container-inner-team span a {
  color: inherit;
}
/********************************** End Team Section **************************************/

/**************************   Start Contact Section************************/
.contact-section {
  background-image: linear-gradient(#fafafa, #fff);
}
.contact-section .container .inner .container-icon span {
  font-size: 25px;
  line-height: 60px;
  font-weight: 400;
}
.contact-section .container .inner h6 {
  font-size: 16px;
  line-height: 17.6px;
  margin-bottom: 10px;
  font-weight: 700;
}
.contact-section .container .inner p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}
.contact-section .container input,
.contact-section .container textarea {
  background-color: #f4f4f4;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
  font-weight: 400;
}
.contact-section .container .my-btn {
  padding: 10px 40px;
}
/*****************************************/
footer {
  background-color: #000;
  color: var(--p-color);
  font-size: 13px;
  line-height: 20.8px;
  word-spacing: 2px;
  font-weight: 400;
}

@media screen and (max-width: 575.98px) {
  .client-section .carousel .carousel-inner .carousel-item div {
    min-width: 99%;
    padding-inline: 1%;
    /* background-color: bisque; */
  }
  .client-section .carousel-item .image-client img {
    width: 50%;
  }
  .modal-dialog .modal-content .modal-body .carousel-item {
    position: relative;
    top: 50%;
    transform: translateY(-50%, 0);
    height: 100vh;
  }
  .modal-dialog .modal-content .modal-body .carousel-item img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .modal-dialog .modal-content .modal-body button span {
    background-color: #278afb54;
  }
  .botton-card {
    margin-top: 15px;
  }
}
